In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors.nearest_centroid import NearestCentroid

In [14]:
# df = pd.read_csv('input/train.csv')
df = pd.read_csv('input/train_min.csv')  # small data

fix_data_skew = False

if fix_data_skew:
    trues = df.loc[df['target'] == 1]
    falses = df.loc[df['target'] != 1].sample(frac=1)[:len(trues)]
    data = pd.concat([trues, falses], ignore_index=True).sample(frac=1)
else:
    data = df
    
data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [9]:
X, y = data.iloc[:,2:].values, data.iloc[:,1].values

# std scaling
scaler = preprocessing.StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [12]:
#cv: 0.8597059678850029
#      0.8584394316060081 (with data skew fix)
#logistic = SGDClassifier(loss='log', max_iter=5000, tol=1e-7, alpha=0.3)
#cls = logistic

#cv: 0.8543658603036868
#      0.8466847795424428 (with data skew fix)
# mlp = MLPClassifier(solver='lbfgs', alpha=0.001,
#                     hidden_layer_sizes=(5, 2), random_state=1)
mlp = MLPClassifier(solver='lbfgs', alpha=0.001,
                    hidden_layer_sizes=(5, 2), random_state=1)



# try grid-search
#params = { 'alpha': [ 0.03, 0.1,0.3,1,3 ]  }
#cls = GridSearchCV(estimator=cls, param_grid=params, cv=5, scoring='roc_auc')
#cls.fit(X_scaled, y)
print(cls.best_params_)
print(cls.best_score_)

# single
#cv_scores = cross_val_score(cls, X_scaled, y, cv=5, scoring='roc_auc')
#print(cv_scores)
#print(np.average(cv_scores))

{'alpha': 0.1}
0.8495403456062044

In [105]:
cls.fit(X_scaled, y)

SGDClassifier(alpha=0.3, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=5000,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=1e-07,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [106]:
# create final output
test = pd.read_csv('input/test.csv')
test_ids, test_x = test.iloc[:,0], test.iloc[:,1:]

test_x_scaled = scaler.transform(test_x)
test_y = cls.predict_proba(test_x_scaled)

In [96]:
pd.DataFrame(pd.DataFrame(test_y))

        0
0       1
1       1
2       0
3       1
4       0
5       0
6       0
7       1
8       0
9       0
10      1
11      0
12      1
13      0
14      0
15      0
16      1
17      0
18      1
19      0
20      1
21      0
22      0
23      0
24      1
25      0
26      0
27      0
28      1
29      1
...    ..
199970  1
199971  1
199972  0
199973  0
199974  0
199975  0
199976  1
199977  0
199978  0
199979  1
199980  0
199981  0
199982  0
199983  0
199984  0
199985  0
199986  1
199987  0
199988  0
199989  0
199990  0
199991  0
199992  0
199993  0
199994  1
199995  0
199996  0
199997  0
199998  0
199999  1

[200000 rows x 1 columns]

In [92]:
# output the result
sub_ids = pd.DataFrame(test_ids)
sub_y = pd.DataFrame(pd.DataFrame(test_y).iloc[:,1])

sub = pd.DataFrame(np.hstack((sub_ids, sub_y)))
sub.to_csv('output.csv', header=['ID_code', 'target'], index=False)

output_check = pd.read_csv('output.csv')
output_check.head()

IndexError: single positional indexer is out-of-bounds